.table {
  min-width: 320px;
  width: 600px;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}

.table th {
  background-color: #2a2a2a;
  border: 1px solid #000000;
  color: #fff;
  text-align: center;
  padding: 12px;
}

.table td {
  padding: 8px;
  border: 1px solid #000000;
}

.table tr:nth-child(even) {
  background-color: #e0e0e0;
}

.table tr:nth-child(odd) {
  background-color: #fff;
}

table td:first-child {
  text-align: left;
  padding: 8px 10%;
}
